@font-face {
    font-family: 'BraveSans';
    font-weight: 300;
    src: url('~projects/ang-tools/main/assets/fonts/BraveSans/BraveSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'BraveSans';
    font-weight: bold;
    src: url('~projects/ang-tools/main/assets/fonts/BraveSans/BraveSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BraveSans';
    font-weight: normal;
    src: url('~projects/ang-tools/main/assets/fonts/BraveSans/BraveSans-Regular.ttf') format('truetype');
}
